# Rename this file to be `.env` for having env variables during local development
# More info at: https://zeit.co/docs/v2/serverless-functions/env-and-secrets

AIRTABLE_API_KEY=MY_API_KEY
AIRTABLE_BASE_ID=MY_BASE_ID